---
layout: page
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <div class="post-list">
  <ul>
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>, 
        <span class="post-categories">categories: {{ post.categories | join: ', ' }}</span>        
        <p> {% if post.excerpt %}
          {{ post.excerpt |strip_html }}... <span> <a href="{{ post.url | relative_url }}">Continue reading &raquo;</a> </span>
        {% endif %} </p>
      </li>


    {% endfor %}
  </ul>
</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
